@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.panel {
  border: 3px solid dodgerblue;
  background: lightgreen;
  margin: 10px;
}

.little-panel {
  @include border-radius(5px);
  @extend .panel;
  font-size: 12px;
  padding: 5px;
}

.big-panel {
  @include border-radius(10px);
  @extend .panel;
  font-size: 32px;
  padding: 20px;
}